body {
    font-family: Libre Baskerville, Georgia, "Times New Roman", serif;
    font-size: 2em;
}

h1 {
    color: #E00000;
}

a {
    text-decoration: none;
    color: black;
}

hr + b {
    color:#000000;
    background-color: yellow;
    font-weight: normal;
}

.timestamp {
    color: #696969;
    float: right;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline; color: #E00000;
}

a:hover#masthed {
    text-decoration: none;
    color: #E00000;
}

#masthed a {
    text-decoration: none;
    color: #E00000;
}
