
body {
    font-family: Libre Baskerville, Georgia, "Times New Roman", serif;
    font-size: 11pt;
}

hr + b {
    color:#000000;
    background-color: yellow;
    font-weight: normal;
}

h2 {
    font-family: Libre Baskerville, Georgia, "Times New Roman", serif;
    font-size: 1.6em;
    color: #E00000;
}

h3 {
    padding-bottom: 5px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline; color: #E00000;
}

.timestamp {
    font-size:10pt;
    color: #696969;
    float: right;
    padding-top: 10px;
}

a:hover#masthed {
    text-decoration: none;
    color: #E00000;
}

#masthed a {
    text-decoration: none;
    color: #E00000;
}
