<html>
<head>
<title>Anonymous Source Tracker</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id="container">

<div id="content">

<br><h1 style="color: #E00000;font-size:62px;font-weight:normal;margin-bottom:0">Anonymous source tracker</h1>

<p style="padding-bottom:20px">Daily examples of the media's use of anonymous sources</p><br>

<div id="anon_left">

{% for entry in entries %}

<b><a href="{{ entry.link }}">{{ entry.source|safe }}&nbsp;&mdash;&nbsp;{{ entry.title|safe }}</a></b>
<br>
<hr>
{{ entry.content|safe }}
<div class="timestamp">{{ entry.date_entered | datetimeformat }}</div>
<br><br><br>

{% endfor %}

</div> <!-- anon_left -->

<div id="anon_right">

    <h3>Outlets tracked:</h3>
    <ul>
        <li>New York Times</li>
        <li>Washington Post</li>
        <li>Wall Street Journal</li>
        <li>USA Today</li>
        <li>Reuters</li>
        <li>Associated Press</li>
        <li>Bloomberg</li>
        <li>Politico</li>
    </ul>

</div> <!-- anon right -->

</div><!-- content -->

<div align="center" id="email"><a href="mailto:mark.schaver@gmail.com">Questions or suggestions</a></div>

</div> <!-- container -->

</body>
</html>
