<!doctype html>
<html>
<head>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
        <h1><a href="/anonymous" id="masthed">Anonymous Source Tracker</a></h1>
        {% block content %}{% endblock %}
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                {% for entry in entries %}
                <b><a href="{{ entry.link }}">{{ entry.title|safe}}</a></b>
                <hr>
                {{ entry.content|clean_content|safe }}
                <br><br>
                <div class="timestamp">{{ entry.name|safe }}&nbsp;&mdash;&nbsp;{{ entry.date_entered | datetimeformat | safe }}</div>
                <br>
                <br>
                {% endfor %}
                <div align="right">{{ pagination.links }}</div>
            </div>
            <div class="col-sm-3">
                <h3>Media tracked*</h3>
                <p>Click&nbsp;to&nbsp;view</p>
                <ul>
                {% for outlet in outlets %}
                <li><a href="{{ url_for('outlet', outlet_name='%s' % (outlet.name|plus_for_spaces)) }}">{{ outlet.name|safe }}</a></li>
                {% endfor %}
                </ul>
                <br>
                <p><b>*</b>&nbsp;An outlet that published an anonymously sourced story isn't necessarily the outlet that produced it. Some stories are wire service stories published by multiple outlets.</p>
                <br>
                <h3>About this:</h3>
                <ul>
                <li>Learn more about the tracker and check out the code to see how it works <span style="text-decoration: underline;"><a href="https://github.com/markschaver/anonymous">on Github</a></span>.</li>
                <li>Read <span style="text-decoration: underline;"><a href="/anonymous/mentions">what's been said about it</a></span> elsewhere .</li>
                </ul>
                <br>
                <br>
            </div>
        </div><!-- row -->
    </div> <!-- container -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80738-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>

