<!doctype html>
<html>
<head>
{% block head %}
<title>Anonymous Source Tracker</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
</head>
<body>
<div id="container">
    <div id="content">
        <br><h1 style="color: #E00000;font-size:55px;font-weight:normal;margin-bottom:0">Anonymous Source Tracker</h1>
        {% block content %}{% endblock %}
        <div id="anon_left">
            {% for entry in entries %}
            <b><a href="{{ entry.link }}">{{ entry.title|safe}}</a></b>
            <br>
            <hr>
            {{ entry.content|clean_content|safe }}
            <div class="timestamp">{{ entry.source|safe }}&nbsp;&mdash;&nbsp;{{ entry.date_entered | datetimeformat | safe }}</div>
            <br><br><br>
            {% endfor %}
        </div> <!-- anon_left -->

        <div id="anon_right">
            <h3>Media tracked:</h3>
            <ul>
                <li><a href="{{ url_for('outlet', outlet_name='ABC+News') }}">ABC News</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='Associated+Press') }}">Associated Press</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='Bloomberg') }}">Bloomberg</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='Business+Insider') }}">Business Insider</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='BuzzFeed') }}">BuzzFeed</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='CBS+News') }}">CBS News</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='CNN') }}">CNN</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='ESPN') }}">ESPN.com</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='Fox+News') }}">Fox News</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='Huffington+Post') }}">Huffington Post</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='NBC+News') }}">NBC News</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='The+New+York+Times') }}">New York Times</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='Politico') }}">Politico</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='Reuters') }}">Reuters</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='USA+Today') }}">USA Today</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='Wall+Street+Journal') }}">Wall Street Journal</a></li>
                <li><a href="{{ url_for('outlet', outlet_name='Washington+Post') }}">Washington Post</a></li>
            </ul>
            <h3>About this:</h3>
            <p>Learn more about the tracker and check out the code to see how it works <span style="text-decoration: underline;"><a href="https://github.com/markschaver/anonymous">on Github</a></span>.</p>
        </div> <!-- anon right -->
    </div><!-- content -->
</div> <!-- container -->
</body>
</html>

