<!doctype html>
<html>
<head>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
        <h1><a href="/anonymous" id="masthed">Anonymous Source Tracker</a></h1>
        <p style="padding-bottom:20px">What's been said about it elsewhere</p>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-1">&nbsp;</div>  
                      
            <div class="col-sm-10">

            <h3>Newspaper &amp; Online News: "New tracker tallies anonymous sourcing"</h3>

            <blockquote>
              <p>In just the last 10 days, Schaver's little app has found (allowing for a few duplicates and false matches) almost 2,000 examples of anonymous sourcing. That's a lot of news from the great unknown.</p>
            </blockquote>

            <p class="credit">~ Bill Broun, February 21, 2010, <a href="http://aejmc.us/news/2010/02/21/new-site-tallies-anonymous-sourcing/">Newspaper &amp; Online News</a></p>

            <h3>iMediaEthics: "Kentucky editor creates anonymous source tracker"</h3>

            <blockquote>
              <p>A Kentucky editor has designed an online anonymous source tracker to note (almost) every time the news organizations on Google News use anonymous sources.</p>
            </blockquote>

            <p class="credit">~ Sydney Smith, April 25, 2010, <a href="http://www.imediaethics.org/kentucky-editor-creates-anonymous-source-tracker/">iMediaEthics.com</a></p>

            <h3>SPJ Ethics Committee Position Papers: "Anonymous Sources"</h3>

            <blockquote>
              <p>The "anonymous source tracker" at the website inkstainedwretch.com dispels any notion that anonymous sources are used rarely today.</p>
            </blockquote>

            <p class="credit">~ Michael Farrell / SPJ Ethics Committee, <a href="http://www.spj.org/ethics-papers-anonymity.asp">SPJ.org</a></p>

            <h3>ESPN ombudsman: "Root of all evil?"</h3>

            <blockquote>
              <p>The tool might be imperfect, but it certainly is directional in pointing out the media's continued reliance on unnamed sources.</p>
            </blockquote>

            <p class="credit">~ Don Ohlmeyer, May 25, 2010, <a href="http://espn.go.com/espn/columns/story?id=5220492&amp;columnist=ohlmeyer_don">ESPN.com</a></p>

            <h3>CJ222 News Reporting &amp; Writing: "Anonymous Sources - Good or Bad?"</h3>

            <blockquote>
              <p>Many organizations have had to develop policies for using anonymous sources because of the benefits and dangers they posses. Major organizations have changed their policies due to recent criticism, such as: The New York Times, USA TODAY, and Newsweek.</p>
              
              <p>A reader can find an institution's view of the use of anonymous sources in their organizations guidelines. And with the witty anonymous source tracker they can also keep track of top offenders that use unnamed sources. Try it out!</p>
            </blockquote>

            <p class="credit">~ Ellie Hackenmiller, October 31, 2010, <a href="https://journalistjan.wordpress.com/2010/10/31/anonymous-sources-good-or-bad/">CJ222 News Reporting &amp; Writing</a></p>

            <h3>Joe McGinniss: "Why I used unnamed sources"</h3>

            <blockquote>
              <p>Indeed, "Anonymous source tracker" publishes daily updates of news media use of unnamed sources. Since Feb. 10, 2010, the site has found 7,180 examples in The Wall Street Journal; 5,766 in Reuters; 4,854 in Bloomberg; 4,826 in BusinessWeek; 2,525 in The New York Times and 2,170 in TheWashington Post. (USA TODAY was well down the list, with only 232 uses cited.)</p>
              
              <p>Why is anonymous sourcing OK in Washington or New York but not in Alaska, where the consequences of being quoted by name can be far more severe?</p>
            </blockquote>

            <p class="credit">~ Joe McGinniss, Oct. 9, 2011, <a href="http://usatoday30.usatoday.com/news/opinion/forum/story/2011-10-09/sarah-palin-rogue-sources/50712184/1">USAToday.com</a></p>

            <h3>New York Times public editor: "AnonyWatch, Chapter 2"</h3>

            <blockquote>
              <p>For those who are really interested in this subject, a former Louisville journalist, Mark Schaver, has an automated feed of anonymously sourced material in The Times and other media organizations. "The tracker doesn't have a point of view," Mr. Schaver wrote on Twitter. "It just tries to tell you what's there.”</p>
            </blockquote>

            <p class="credit">~ Margaret Sullivan, March 28, 2014, <a href="http://publiceditor.blogs.nytimes.com/2014/03/28/anonywatch-chapter-2-a-poisonous-president-and-a-bankers-secret-yogurt/?_r=0">Nytimes.com</a></p>

            <h3>Editing for the Digital Age</h3>

            <blockquote>
              <p>... the widespread and unwarranted use of anonymous sources continues. For example, the Anonymous Source Tracker catalogued nearly 300,000 examples of anonymous sources in 11,614 English-language news outlets from early 2010 through the end of 2013.</p>
            </blockquote>

            <p class="credit">~ Thomas Lieb, 2016, <a href="https://books.google.com.mx/books?id=XAv6BgAAQBAJ&amp;lpg=PT218&amp;ots=XzQuEctJlC&amp;dq=Anonymous%20source%20tracker&amp;pg=PT218#v=onepage&amp;q=Anonymous%20source%20tracker&amp;f=false">Editing in the Digital Age via Google Books</a></p>

            <!-- END OF MENTION CONTENT -->
            
            </div>
            
            <div class="col-sm-1">&nbsp;</div>  

        </div><!-- row -->
    </div> <!-- container -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80738-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
